body {
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

#heading {
  background-color: rgba(199, 109, 199, 0.2);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

#existingStatus {
  color: red;
}

.signUpPage {
  height: 635px;
  width: 100%;
  margin: 0 auto;
}


.loginLink {
  margin: 30px 24px 14px;
}

.buttonBlock {
  display: flex;
  flex-direction: row;
}

.block {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  height: 350px;
  width: 330px;
  margin: 100px auto;
  display: flex;
  flex-flow: column;
  border: 1px solid rgba(44, 34, 34, 0.3);
}
.userInputs {
  display: flex;
  flex-flow: column;
  height: 40%;
  margin-top: 35px;
}
input {
  width: 80%;
  height: 20%;
  margin: 8px auto;
  font-size: 15px;
  padding-left: 5%;
}

.header {
  margin: 0 auto;
  margin-top: 30px;
}

button {
      margin: 0px auto;
    margin-top: 25px;
    height: 60%;
    font-size: 15px;
    width: 37%;
}
