 body {
  font-family: sans-serif;
}

#heading {
  background-color: rgba(199, 109, 199,0.2);
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.4);
  font-size: 20px;
  display:flex;
  justify-content:center;
  margin-bottom:5px;
  border-radius: 10px;
}

#container {
  display: flex;
  justify-content: space-around;
  height: 635px;
  width: 100%;
}

/* for todoSearch */

h4 {
  font-size:20px;
  border-style: outset;
  padding-left:20px;
  border-radius: 5px;
  margin:20px 80px 0px;
}

#todoSearch {
  width: 35%;
  background: rgba(161, 171, 182,0.05 );
  padding:0% 2% 0%;
  border-radius: 10px;
  margin:5px 5px 2px;
  box-shadow: -1px -1px 3px 3px rgba(0, 0, 0,0.15);
}

#search > input {
  height: 20px;
  width: 50%;
  margin: 1%;
  padding: 1%;
}


/* for todo titles */

.titles {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid lightgray;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7px;
}

#todoList {
  margin:5px 5px 2px;
  background: rgba(161, 171, 182,0.05);
  box-shadow: -1px -1px 3px 3px rgba(0, 0, 0,0.1);
  border-radius: 10px;
  width: 25%;
}

/* for content  */
#content {
  margin:5px 10px 2px;
  background-color: rgba(161, 171, 182,0.05);
  box-shadow: -1px -1px 3px 3px rgba(0, 0, 0,0.15);
  width: 50%;
  display: flex;
  overflow: scroll;
  padding: 1% 3% 1%;
  border-radius: 10px;
}

.details {
  overflow: scroll;
  height: 75%;
}

.box {
  margin: 2%;
  border: 1px solid;
  padding: inherit;
  width: 527px;
  border-radius: 10px;
}

.titleHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.titleHeading > input {
  border: none;
  outline: none;
  font-size: 200%; 
  width: 436px; 
} 

.titleHeading > span {
  display: flex;
  justify-content: space-around;
  font-size: 250%;
  margin: 3%;
}

li {
 border-style:ridge;
  padding-left:10px;
  border-radius:5px;
  margin-bottom:5px;
  padding-top: 1%;
  list-style-type:none
}

.inputTask {
  border: none;
  outline: none;
  font-size: 130%;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
}

.deleteItem {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(46, 30, 10, 0.196);
   border-radius: 3px;
   margin: 1%;
}

.addNewItem {
  margin: 2%;
  width: 95%;
  height: 30px;
  font-size: 80%;
}

.addNewItem > button{
  margin: 2%;
  width: 95%;
  height: 30px;
  font-size: 80%;
}

.textarea {
  height: 15px;
  width: 282%;
  padding: 1%;
  margin-top: 1.2%;
}

.newItem {
  display: flex;
  border-style: ridge;
  border-radius: 8px;
  padding: -1px;
  padding: 4px 3px 4px;
}

.newItem > div {
  width: 4%;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}
