body {
  font-family: sans-serif;
}

#heading {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#logo {
  content: url('/images/banner.png');
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(199, 109, 199, 0.2);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
  border-radius: 10px;
}

#logout {
  content: url(/images/logout.png);
  margin: 33px 32px;
  width: 40px;
  height: 40px;
}

#container {
  display: flex;
  justify-content: space-around;
  height: 635px;
  width: 100%;
}

/* for todoSearch */

.blocks {
  margin: 36px 0px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  padding-top: 1px;
}

h4 {
  font-size: 20px;
  padding-left: 20px;
  border-radius: 5px;
  margin: 20px 80px 0px;
  text-align: center;
}

#todoSearch {
  width: 35%;
  background: rgba(161, 171, 182, 0.05);
  padding: 0% 2% 0%;
  border-radius: 10px;
  margin: 5px 5px 2px;
  box-shadow: -1px -1px 3px 3px rgba(0, 0, 0, 0.15);
}

#plus {
  content: url(/images/plus.png);
  width: 27px;
  height: 27px;
  padding-top: 17px;
}

#tasks {
  display: flex;
  flex-direction: row;
}

#todoSearch input {
  height: 20px;
  width: 80%;
  margin: 3% 3% 3%;
  padding: 1%;
  font-size: medium;
}

/* for todo titles */

.titles {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid lightgray;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 120%;
}

#todoList {
  margin: 5px 5px 2px;
  background: rgba(161, 171, 182, 0.05);
  box-shadow: -1px -1px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 25%;
}

.selectedTitle {
  background-color: bisque;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.3);
  font-size: 130%;
}

/* for content  */
#content {
  margin: 5px 10px 2px;
  background-color: rgba(161, 171, 182, 0.05);
  box-shadow: -1px -1px 3px 3px rgba(0, 0, 0, 0.15);
  width: 50%;
  display: flex;
  justify-content: end;
  overflow: scroll;
  padding: 1% 3% 1%;
  border-radius: 10px;
}

.details {
  overflow: scroll;
  height: 75%;
}

.box {
  margin: 10px 10px;
  border: 1px solid;
  padding: inherit;
  width: 527px;
  border-radius: 10px;
}

.box input {
  background-color: inherit;
}

.titleHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.titleHeading > input {
  border: none;
  outline: none;
  font-size: 200%;
  width: 436px;
}

.titleHeading > span {
  display: flex;
  justify-content: space-around;
  font-size: 250%;
  margin: 3%;
}

.checkbox {
  margin: 15px 5px 15px;
}
li {
  border-style: ridge;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 1%;
  list-style-type: none;
}

.inputTask {
  border: none;
  outline: none;
  font-size: 130%;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
}

.deleteItem {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(46, 30, 10, 0.196);
  border-radius: 3px;
  margin: 1%;
}

.addNewItem {
  margin: 2%;
  width: 95%;
  height: 30px;
  font-size: 80%;
}

.addNewItem > button {
  margin: 2%;
  width: 95%;
  height: 30px;
  font-size: 117%;
}

.textarea {
  height: 15px;
  width: 282%;
  padding: 2% 2%;
  margin-top: 1.2%;
  font-size: 130%;
  border: 1px solid rgba(219, 195, 195, 0.4);
  border-radius: 5px;
}

.newItem {
  display: flex;
  border-style: ridge;
  border-radius: 8px;
  padding: -1px;
  padding: 3px 8px 4px;
  margin-top: 10px;
}

.newItem > div {
  width: 4%;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  cursor: pointer;
  font-size: 136%;
}
