<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TODO</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/todoSubmit.js"></script>
</head>

<body>
  <h1 id="heading">TODO</h1>

  <div id="container">
    <div id="content">
      <h2>TODO LIST</h2>
      <div id="todoList"></div>
    </div>

    <div id='todo'>
      <h1>CREATE YOUR TODO</h1>

      <div>
        <div id="tasks">
          <label>TITLE</label><br>
          <input type="text" name="title" id="title" required></input>
          <button onclick="addItem()">Add Item</button>
          <button onclick="saveTodo()">DONE</button>
        </div>
      </div>

    </div>

  </div>

  </div>
</body>

</html>