<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TODO</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/todoSubmit.js"></script>
</head>

<body>
  <div id="heading">
    <img src="/images/banner.png" alt="logo" height="80px" width="80px">
    <h1>TODO</h1>
  </div>
  <div id="container" style="display: flex;">
    <div id="todoList"></div>
    <div id="content">
    </div>

    <div id='todo'>
      <h4>CREATE YOUR TODO</h4>

      <div>
        <div id="tasks">
          <label>TITLE</label><br>
          <input type="text" name="title" id="title" required></input>
          <button onclick="addItem()">Add Item</button>
          <button onclick="saveTodo()">DONE</button>
        </div>
      </div>

    </div>

  </div>

  </div>
</body>

</html>